.hello {
  list-style: none;
  font: 36px Helvetica, Arial, sans-serif;
  color: black;
  background: #ffffff;
  padding: 100px;
  text-align: center;
  transition: 100ms ease-in background;
}
.mapeamento{
  list-style: none;
  font: 36px Helvetica, Arial, sans-serif;
  color: black;
  background: #ffffff;
  padding: 100px;
  text-align: center;
}
.hello:hover {
  background: #008cff;
  color: red;
}
.telafundo{
  background: rgb(0, 60, 255);
}
.telafundoInfoGerais{
  background: rgb(0, 60, 255);
}
.telafundoConversor{
  background: rgb(255, 0, 0);
}
.telaFundoLugares{
  background: rgb(255, 255, 255);
}
.centralizar{
  text-align: center;
}
.colunaInfo1{
  width: 400px;
}
.colunaInfo2{
  width: 650px;
}
.colunaCiaAereas1{
  width: 150px;
}
.colunaCiaAereas2{
  width: 450px;
}
.labelInfo{
  font-weight: bold;
  font-size: large;
}
.labelConversor{
  font-size: medium;
}
.colunaAtracao{
  width: 200px;
}
.colunaCidade{
  width: 175px;
}
.colunaEstado{
  width: 175px;
}
.colunaDescricao{
  width: 700px;
}